.trans {
  transition: all .2s ease;
}

@responsive {
  .flex-1-1 {
    flex-grow: 1;
    flex-shrink: 1;
    width: 0%;
  }
  .flex-1-0 {
    flex-grow: 1;
    flex-shrink: 0;
    width: 0%;
  }
  .flex-0-0 {
    flex-grow: 0;
    flex-shrink: 0;
    width: 0%;
  }
  .flex-0-1 {
    flex-grow: 0;
    flex-shrink: 1;
    width: 0%;
  }
}
