---
title: Index
---

{% extends 'page.njk' %}

{% block body %}
  <div class="container spacing">
    <h1 class="h1">{{ title }}</h1>
    <article data-message></article>
    <article data-users></article>
  </div>
{% endblock %}
