/* purgecss start ignore */
@import "tailwindcss/base";
@import "./imports/base.pcss";
/* purgecss end ignore */

@import "tailwindcss/components";
@import "./imports/components.pcss";

@import "tailwindcss/utilities";
@import "./imports/utilities.pcss";
