<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/assets/main.bundle.css">
    <title>{{ title }}</title>
    {% block head %}{% endblock %}
  </head>
  <body class="flex flex-col min-h-100vh">
    {% include 'header.njk' %}
    <main class="flex-grow">
      {% block body %}{% endblock %}
    </main>
    {% include 'footer.njk' %}
    <script src="/assets/main.bundle.js"></script>
    {% block scripts %}{% endblock %}
  </body>
</html>
