---
title: Index
---

{% extends 'page.njk' %}

{% block body %}
  <div class="container">
    {# 11ty #}
    <h1>This is the {{ title }} page.</h1>

    {# Svelte #}
    <article svelte-users></article>

  </div>
{% endblock %}
