---
name: Posts
tags: pages
title: This is the posts page.
---

{% extends 'page.njk' %}

{% block content %}
  <div class="{{ classes.container }}">
    <h1>{{ title }}</h1>
    <div class="flex flex-col items-start">
      {% for item in posts %}
        <a class="py-4 underline" href="/posts/{{ item.id }}">
          {{ item.title }}
        </a>
      {% endfor %}
    </div>
  </div>
{% endblock %}
