---
pagination:
  alias: post
  data: posts
  size: 1
permalink: posts/{{ post.id | string }}/index.html
---

{%- extends 'page.njk' -%}
{%- set title = post.title -%}

{%- block content -%}
  <div class="{{ classes.container }}">
    <a class="underline block" href="/posts">Go Back</a>
    {%- for item in pagination.items  -%}
      <p>{{ item.title }}</p>
      <p>{{ item.body }}</p>
    {%- endfor  -%}
  </div>
{%- endblock -%}
