/* purgecss start ignore */
@import "tailwindcss/base";
@import "./imports/base.pcss";
/* purgecss end ignore */

/* Components */
@import "./imports/components.pcss";
@import "tailwindcss/components";

/* Utilities */
@import "tailwindcss/utilities";
@import "./imports/utilities.pcss";
