<header class="bg-gray-900 text-white text-center">
  <div class="container flex justify-between items-center">
    <a href="/">{{ meta.title }}</a>
    <div>
      {%- for item in collections.pages  -%}
        <a class="ml-24 hidden 768:inline" href="{{ item.url }}">{{ item.data.name }}</a>
      {%- endfor  -%}
      <button id="mobile-nav-toggle" class="768:hidden">Menu</button>
    </div>
  </div>
</header>

<nav id="mobile-nav" class="hidden w-100% min-h-100vh flex flex-col items-center justify-center">
  <button id="mobile-nav-close" class="fixed top-0 right-0 text-48 p-24">X</button>
  {%- for item in collections.pages  -%}
    <a class="" href="{{ item.url }}">{{ item.data.name }}</a>
  {%- endfor  -%}
</nav>
